#map {
	width: 97%;
	min-height: 550px;
}

.info {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
}
.info h4 {
	margin: 0 0 5px;
	color: #777;
}

.legend {
	text-align: left;
	line-height: 18px;
	color: #555;
}
.legend i {
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 8px;
	opacity: 0.7;
}

.leaflet-control-geosearch {
	left:42px;
}
.leaflet-control-geosearch input{
	font-size: 16px;
}


.tab{
	cursor: pointer;
	padding: 4px 8px;
	background-color: #eee;
	color: #333;
	border-radius: 2px;
	float:left;
	margin-right: 5px;
	font-family: Roboto;
	font-size: 15px;
}

.active {
	background-color: #d1d1d1;
	color:#000;
}